black
bs4
docx2txt
fastapi
gunicorn
ipython
ipython-genutils
jedi
litellm
llama-index
open-interpreter
pandas
poetry
pre-commit
pyautogen
pyautogen[teachable]
pyautogen[retrievechat]
PyPDF2<3.0
python-json-logger
requests
uvicorn