black
bs4
chromadb
docx2txt
fastapi
gunicorn
ipython
ipython-genutils
jedi
litellm
llama_index>=0.9.7
nltk
open-interpreter
pandas
poetry
pre-commit
pyautogen
pyautogen[autobuild]
pyautogen[teachable]
pyautogen[retrievechat]
PyPDF2<3.0
python-json-logger
requests
span-marker
textblob
transformers
uvicorn